Using a Python code, answer the following:
 
1. Letâ€™s calculate the Home Loan EMI now using Python code. Principal Amount 50Lakhs, Rate of interest 8%, and Loan repayment tenure is 15 years. Find the EMI to be paid?
 
2. If the interest rate increases to 10%, and you cannot pay more than 30,000 as EMI, find the maximum amount of Loan you can take/afford for the same period?

3. For the Que 1. what is the total interest paid by you year-wise (from the 1st year to the 15th year). Also, what is the total cumulative interest paid by you in 15 years?
 
4. For the Que 1., in how many months would you have paid atleast 50% of the Principal amount.

# Question 1

In [5]:
# Principal amount
principal = 5000000

# Rate of interest (annual)
rate_of_interest_annual = 8

# Rate of interest (monthly)
rate_of_interest = rate_of_interest_annual/12/100

# Loan repayment tenure in years
tenure = 15

# Tenure in months
n = tenure * 12

# EMI formula
def calculate_emi(principal, rate_of_interest, n):
    return principal * rate_of_interest * (1 + rate_of_interest)**n / ((1 + rate_of_interest)**n - 1)

# Calculate EMI
emi = calculate_emi(principal, rate_of_interest, n)

# Print EMI
print(f"EMI: {emi:.2f}")

EMI: 47782.60

# Question 2

In [2]:
# Rate of interest (annual)
rate_of_interest_annual = 10

# Rate of interest (monthly)
rate_of_interest = rate_of_interest_annual/12/100

# Loan repayment tenure in years
tenure = 15

# Tenure in months
n = tenure * 12

# Maximum loan amount that can be afforded with EMI of 30000
max_loan_amount = 30000 * ((1 + rate_of_interest)**n - 1) / (rate_of_interest * (1 + rate_of_interest)**n)

# Print maximum loan amount
print(f"Maximum loan amount: {max_loan_amount:.2f}")

Maximum loan amount: 2791723.16

# Question 3

In [3]:
A = 5000000
r = 8/12/100
n = 15*12
P = (r*A)/(1-(1+r)**(-n))

cumulative_interest = 0
remaining_principal = A
for year in range(1, 16):
    interest_paid = remaining_principal * r * 12
    remaining_principal -= interest_paid
    cumulative_interest += interest_paid
    print(f"Year {year}: interest paid = {interest_paid}, cumulative interest = {cumulative_interest}")

Year 1: interest paid = 399999.99999999994, cumulative interest = 399999.99999999994
Year 2: interest paid = 368000.0, cumulative interest = 768000.0
Year 3: interest paid = 338560.0, cumulative interest = 1106560.0
Year 4: interest paid = 311475.2, cumulative interest = 1418035.2
Year 5: interest paid = 286557.18399999995, cumulative interest = 1704592.3839999998
Year 6: interest paid = 263632.60928, cumulative interest = 1968224.9932799998
Year 7: interest paid = 242542.00053759996, cumulative interest = 2210766.9938176
Year 8: interest paid = 223138.640494592, cumulative interest = 2433905.634312192
Year 9: interest paid = 205287.5492550246, cumulative interest = 2639193.1835672166
Year 10: interest paid = 188864.54531462266, cumulative interest = 2828057.728881839
Year 11: interest paid = 173755.38168945286, cumulative interest = 3001813.110571292
Year 12: interest paid = 159854.95115429664, cumulative interest = 3161668.061725589
Year 13: interest paid = 147066.5550619529, cumulative interest = 3308734.6167875417
Year 14: interest paid = 135301.23065699666, cumulative interest = 3444035.8474445385
Year 15: interest paid = 124477.13220443694, cumulative interest = 3568512.9796489757

# Question 4

In [4]:
principal_amount = 5000000 # 50 lakhs converted to rupees
rate_of_interest = 8/12/100 # 8% annual interest converted to decimal
loan_repayment_tenure = 15 # 15 years
# convert loan repayment tenure to months
loan_repayment_tenure_in_months = loan_repayment_tenure * 12
# calculate EMI
emi = principal_amount * rate_of_interest * ((1 + rate_of_interest)**loan_repayment_tenure_in_months) / (((1 + rate_of_interest)**loan_repayment_tenure_in_months) - 1)
# initialize the number of months and total amount paid
num_months = 0
total_amount_paid = 0

# loop until at least 50% of the principal amount is paid
while total_amount_paid < principal_amount/2:
    num_months += 1
    total_amount_paid += emi
    print(f"Months {num_months}: total amount paid {total_amount_paid}")

print("Number of months required to pay at least 50% of the principal amount:", num_months)

Months 1: total amount paid 47782.604216517815
Months 2: total amount paid 95565.20843303563
Months 3: total amount paid 143347.81264955344
Months 4: total amount paid 191130.41686607126
Months 5: total amount paid 238913.02108258908
Months 6: total amount paid 286695.6252991069
Months 7: total amount paid 334478.2295156247
Months 8: total amount paid 382260.8337321425
Months 9: total amount paid 430043.43794866034
Months 10: total amount paid 477826.04216517817
Months 11: total amount paid 525608.646381696
Months 12: total amount paid 573391.2505982138
Months 13: total amount paid 621173.8548147315
Months 14: total amount paid 668956.4590312493
Months 15: total amount paid 716739.063247767
Months 16: total amount paid 764521.6674642848
Months 17: total amount paid 812304.2716808026
Months 18: total amount paid 860086.8758973203
Months 19: total amount paid 907869.4801138381
Months 20: total amount paid 955652.0843303559
Months 21: total amount paid 1003434.6885468736
Months 22: total amount paid 1051217.2927633915
Months 23: total amount paid 1098999.8969799094
Months 24: total amount paid 1146782.5011964273
Months 25: total amount paid 1194565.1054129452
Months 26: total amount paid 1242347.709629463
Months 27: total amount paid 1290130.313845981
Months 28: total amount paid 1337912.9180624988
Months 29: total amount paid 1385695.5222790167
Months 30: total amount paid 1433478.1264955346
Months 31: total amount paid 1481260.7307120524
Months 32: total amount paid 1529043.3349285703
Months 33: total amount paid 1576825.9391450882
Months 34: total amount paid 1624608.543361606
Months 35: total amount paid 1672391.147578124
Months 36: total amount paid 1720173.7517946418
Months 37: total amount paid 1767956.3560111597
Months 38: total amount paid 1815738.9602276776
Months 39: total amount paid 1863521.5644441955
Months 40: total amount paid 1911304.1686607134
Months 41: total amount paid 1959086.7728772312
Months 42: total amount paid 2006869.3770937491
Months 43: total amount paid 2054651.981310267
Months 44: total amount paid 2102434.585526785
Months 45: total amount paid 2150217.1897433028
Months 46: total amount paid 2197999.7939598206
Months 47: total amount paid 2245782.3981763385
Months 48: total amount paid 2293565.0023928564
Months 49: total amount paid 2341347.6066093743
Months 50: total amount paid 2389130.210825892
Months 51: total amount paid 2436912.81504241
Months 52: total amount paid 2484695.419258928
Months 53: total amount paid 2532478.023475446
Number of months required to pay at least 50% of the principal amount: 53